<div class="flex flex-col gap-2 mb-6">
    <span class="mb-1 font-bold text-2xl">Avtor</span>
    <div class="flex items-center gap-3">
        <div class="w-12 h-12 rounded-full bg-neutral-700 dark:bg-neutral-800 flex items-center justify-center text-white dark:text-neutral-400 text-lg font-bold">
            BH
        </div>
        <div class="flex flex-col">
            <span class="font-semibold">simail</span>
            <span class="text-sm text-neutral-600 dark:text-neutral-400">Urednica</span>
        </div>
    </div>
</div> 