---
import Title from './Title.astro'

interface Props {
	title: string;
	class?: string;
}

const { title, class: className } = Astro.props
---

<div class={`title mt-5 ${className || ''}`}>
	<div class="relative">
		<Title>{title}</Title>
		<div class="absolute -bottom-2 left-0 w-12 h-1 bg-red-500 rounded-full"></div>
	</div>
</div>
